<h1><%= current_user.email %></h1>
<% current_user.posts.each do |post| %>
  <h2>Event: <%= post.event.title %></h2>
  <h4>Location: <%= post.event.address %></h4>
  <h4>Category: <%= post.event.category.title %></h4>
  <h3>Title: <%= post.title %></h3>

  <p><%= post.text %></p>
  <% end %>

  <%= link_to "View Feed", posts_path %>

