<h1 class="text-center">Posts!</h1>

<div class="container filters-container">
  <div class="category">
    <h3>Filter By Category:</h3>

    <%= form_tag posts_path, method: :get do %>
    <%= select_tag :category,
    options_for_select(@categories.map{|x| x.title}, params[:category]),
    id: "Category"
    %>
    <%= submit_tag "Search By Category" %>
    <% end %>
  </div>
  <div class="events" style="padding-left:20px;">

    <h3>Search Events</h3>

    <%= form_tag posts_path, method: :get do %>
    <%= text_field_tag :event,
    params[:event],
    id: "Event",
    placeholder: "search Events"
    %>
    <%= submit_tag "Search By Event" %>
    <% end %>
  </div>
  <div class="locations" style="padding-left:20px;">

    <h3>Search Locations</h3>

    <%= form_tag posts_path, method: :get do %>
    <%= text_field_tag :address,
    params[:address],
    id: "Address",
    placeholder: "search Addresses"
    %>
    <%= submit_tag "Search By Address" %>
    <% end %>
  </div>
</div>

<h3>Order By</h3>
<%= form_tag posts_path, method: :get do %>
<%= select_tag :order,
options_for_select(["Highest Votes","Newest"], params[:order]),
id: "Order By"
%>
<%= submit_tag "Order" %>
<% end %>
<div class="container feed-container">

  <% @posts.each do |post| %>

  <div class="post-container">

    <div class="name-container">

      <h2>Event: <%= post.event.title %></h2>
      <h5 style="float:right; margin-top:35px">Created at: <%= post.created_at.to_date %></h5>
    </div>

    <div class="location-container">
      <h4>Location: <%= post.event.address %></h4>
      <h4 style="margin-left:100px; float:right">Category: <%= post.event.category.title %></h4>
    </div>

    <div class="text-container">
      <h2 class="text-center">Title: <%= post.title %></h2>

      <p class="text-center"><%= post.text %></p>
    </div>

    <div class="votes-container">

      <p>Votes: <%= post.votes %></p>
      <%= link_to "Upvote #{post.title}", post_upvote_path(post), method: :patch%>
      <%= link_to "Downvote #{post.title}", post_downvote_path(post), method: :patch%>
    </div>

  </div>

<% end %>
</div>

<style>
.filters-container{
  display:flex;
}

.name-container h2{
  display: inline-block;
}
.name-container h5{
  display: inline-block;
  margin-left:50px;
}
.location-container h4{
  display: inline-block;
}
.post-container {
  /*display: flex;*/
  /*justify-content: center;
  align-items: center;*/
}
.header-container{
  text-align: center;
}
</style>


